p {
    color: gray;
    font-family: "Bauhaus 93", serif;
    border-style: solid;
    background-color: lightgray;
}

.klasa1 {
    color: cyan;
    border-radius: 100px 70px;
}

#id1 {
    color: #FF3028;
    margin: 25px 230px;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#id2 {
    color: lightgray;
    text-align: right;
    word-spacing: -10px;
}

#id3 {
    color: springgreen;
    margin: 5px;
}
